version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "wednesday"
      time: "21:00"
      timezone: "Europe/Helsinki"
    target-branch: "main"
  - package-ecosystem: "npm"
    directories:
      - "/serverless"
      - "/pulumi"
    versioning-strategy: "increase"
    schedule:
      interval: "monthly"
      day: "wednesday"
      time: "21:00"
      timezone: "Europe/Helsinki"
    cooldown:
      default-days: 1
    groups:
      pulumi:
        patterns:
          - "@pulumi/*"
    target-branch: "main"
  - package-ecosystem: "pip"
    directory: "/"
    versioning-strategy: "increase"
    schedule:
      interval: "weekly"
      day: "wednesday"
      time: "21:00"
      timezone: "Europe/Helsinki"
    cooldown:
      default-days: 1
      exclude:
        - "pipenv"
    target-branch: "main"
