service: telegram-bot

useDotenv: true

provider:
  name: aws
  stage: ${opt:stage, 'test'}
  runtime: python3.14
  runtimeManagement: auto
  versionFunctions: false
  architecture: x86_64
  region: ${opt:region, 'eu-north-1'}
  memorySize: 256
  timeout: 15
  logRetentionInDays: 90
  deploymentBucket:
    name: ${env:SERVERLESS_BUCKET, 'test-bucket'}
    maxPreviousDeploymentArtifacts: 1
  environment:
    TELEGRAM_TOKEN: ${env:TELEGRAM_TOKEN, 'test-token'}
    GOOGLE_API: ${env:GOOGLE_API, 'test-api-key'}
    OPENWEATHER_API: ${env:OPENWEATHER_API, 'test-api-key'}
    CSE_ID: ${env:CSE_ID, 'test-id'}
    REGION: FI
    ENVIRONMENT: ${self:provider.stage}
functions:
  webhook:
    handler: src/handler.webhook
    events:
      - httpApi:
          method: POST
          path: /

  set_webhook:
    handler: src/handler.set_webhook
    events:
      - httpApi:
          method: POST
          path: /set_webhook

custom:
  pythonRequirements:
    dockerizePip: true
    usePipenv: true
    slim: true

package:
  patterns:
    - "!**"
    - src/**
