name: lambda
on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "Pipfile*"
      - "serverless.yml"
  pull_request:
    branches:
      - main
    paths:
      - "src/**"
      - "Pipfile*"
      - "requirements.txt"
      - "package*.json"
      - "serverless.yml"
      - ".github/workflows/lambda.yml"
  workflow_dispatch:
    inputs:
      stage:
        description: "Deployment stage"
        required: false
        default: "test"
        type: choice
        options:
          - test
          - prod
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.event.inputs.stage }}
  cancel-in-progress: true
env:
  NO_UPDATE_NOTIFIER: true
jobs:
  lambda:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    env:
      SERVERLESS_LICENSE_KEY: ${{ secrets.SERVERLESS_LICENSE_KEY }}
      SERVERLESS_BUCKET: ${{ secrets.SERVERLESS_BUCKET }}
      CSE_ID: ${{ secrets.CSE_ID }}
      GOOGLE_API: ${{ secrets.GOOGLE_API }}
      OPENWEATHER_API: ${{ secrets.OPENWEATHER_API }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.14"
          architecture: "x64"
          cache: "pipenv"
          cache-dependency-path: Pipfile.lock
      - name: Install pipenv
        run: pip install --prefer-binary -r requirements.txt
      - name: Setup Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: package-lock.json
      - name: Install dependencies
        run: npm ci
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          aws-region: ${{ vars.AWS_REGION }}
          role-to-assume: ${{ secrets.AWS_ROLE }}
      - name: Determine token
        id: determine-token
        run: |
          if [ "${{ github.event.inputs.stage || 'test' }}" == 'prod' ]; then
            echo "TELEGRAM_TOKEN=${{ secrets.TELEGRAM_TOKEN_PROD }}" >> $GITHUB_ENV
          else
            echo "TELEGRAM_TOKEN=${{ secrets.TELEGRAM_TOKEN_TEST }}" >> $GITHUB_ENV
          fi
      - name: Package
        run: npm run package -- --stage ${{ github.event.inputs.stage || 'test' }}
        env:
          TELEGRAM_TOKEN: ${{ env.TELEGRAM_TOKEN }}
      - name: Deploy ${{ github.event.inputs.stage || 'test' }}
        if: ${{ (github.event_name == 'push' || github.event_name == 'workflow_dispatch')}}
        run: npm run deploy -- --package .serverless --stage ${{ github.event.inputs.stage || 'test' }}
        env:
          TELEGRAM_TOKEN: ${{ env.TELEGRAM_TOKEN }}
