name: package
on:
  pull_request:
    branches:
      - main
    paths:
      - "src/**"
      - "Pipfile*"
      - "requirements.txt"
      - "serverless/**"
      - ".github/workflows/package.yml"
  workflow_dispatch:
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  NO_UPDATE_NOTIFIER: true
jobs:
  package:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
      fail-fast: false
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: "3.14"
          architecture: "x64"
          cache: "pipenv"
          cache-dependency-path: Pipfile.lock
      - name: Install pipenv
        run: pip install --prefer-binary -r requirements.txt
      - name: Create requirements
        run: pipenv requirements > ${{ github.workspace }}/serverless/requirements.txt
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          cache: "npm"
          cache-dependency-path: serverless/package-lock.json
      - name: Install dependencies
        run: npm ci --ignore-scripts
        working-directory: ./serverless
      - name: Package
        id: package
        run: npm run package -- --package ${{ runner.temp }}
        working-directory: ./serverless
        env:
          SERVERLESS_LICENSE_KEY: ${{ secrets.SERVERLESS_LICENSE_KEY }}
          DOCKERIZE: ${{ matrix.os != 'windows-latest' && 'true' || 'false' }}
      - name: Validate package contents
        run: python validate.py ${{ runner.temp }}/telegram-bot.zip
        working-directory: ./serverless
      - name: Review package
        if: steps.package.outcome == 'success'
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ matrix.os }}-package
          path: ${{ runner.temp }}/telegram-bot.zip
          overwrite: true
          retention-days: 1
