name: test
on:
  pull_request:
    branches:
      - main
    paths:
      - "src/**"
      - "tests/**"
      - "Pipfile*"
      - "requirements.txt"
      - ".github/workflows/test.yml"
  workflow_dispatch:
env:
  PIP_DISABLE_PIP_VERSION_CHECK: 1
jobs:
  test:
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest"]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.14"
          architecture: "x64"
          cache: "pipenv"
          cache-dependency-path: Pipfile.lock
      - name: Install pipenv
        run: pip install --prefer-binary -r requirements.txt
      - name: Install environment dependencies
        run: pipenv sync --dev
      - name: Run tests
        run: pipenv run python -m unittest
        env:
          CSE_ID: ${{ secrets.CSE_ID }}
          GOOGLE_API: ${{ secrets.GOOGLE_API }}
          OPENWEATHER_API: ${{ secrets.OPENWEATHER_API }}
          REGION: FI
